@charset "UTF-8";

@media screen and (min-width: 1024px) {

    
      img.SunAndMoon{
        position: absolute;
        width: 300px;
        height: auto;
      
        
        left: 50%;
        top: -35px;
      
        z-index: 0;
        transform: translate(-50%);
      
      }
}

