.App {
  text-align: left;
  
  
}

.Container{
  position: relative;
  width: 450px;
  height: 110%;
  margin: auto;
  border: 3px solid gray;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.168);
  background-color: white;

  line-height: 40px;

  transform: translate(0%, +65%);
  z-index: 5;
}

.Container > h1{
  color: rgb(93, 93, 93);
  margin-left: 10px;
}
.Container > h2{
  color: rgb(76, 194, 127);
  font-size: 22px;
  margin-top: 20px;
  margin-left: 10px;
}

.Form-control{
  width: 60%;
  height: 35px;
  margin: 10px 0px 0px 10px;
  outline: 0px;
  font-size: 20px;
  text-indent: 4px;
  
}
.Form-control:focus{
  
  border: 2px solid rgb(76, 194, 127);
  box-shadow:  1px 1px 6px 1px rgba(0, 0, 0, 0.219);

  transition: all 500ms ;
}

.btnSearch{
  color: white;
  background-color: rgb(0, 153, 255);
  border: 0px;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 0px 20px 205px
}

.Icon{
  width: 100px;
  margin: 0px;
 }
.Icon img{
 display: flex;
 margin-left: 15px;
}
.Temp{
  display: block;
  width: 350px;
  margin: 0px;
  transform: translate(30%, -50%);
  
}

.BackgroundDay{
  position: absolute;
  background: linear-gradient(to top, #7EBFD9 10%, #049DD9 30%, #0477BF 70% , #035AA6 100%);
  width: 100%;
  height: 100%;
  
}
.BackgroundNight{
  position: absolute;
  background: linear-gradient(to top, #1F72A6 10%, #204F8C 30%, #092140 70% , #051426 100%);
  width: 100%;
  height: 100%;
}
.BackgroundDefault{
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
.BackgroundGreyDay{
  position: absolute;
  background: linear-gradient(to top, #BEBDBF 10%, #89888C 30%, #565659 70% , #474749 100%);
  width: 100%;
  height: 100%;
}

img.OneCloud{
  position: absolute;
  width: 80%;
  height: 500px;

  left: 30%;
  top: 150px;

  z-index: 2;
  transform: translate(-50%, -50%);
  
}
img.TwoCloud{
  position: absolute;
  width: 80%;
  height: 250;

  left: 50%;
  top: 150px;

  z-index: 2;
  transform: translate(-50%, -50%);
}
img.ThreeCloud{
  position: absolute;
  width: 40%;
  height: 450px;

  left: 80%;
  top: 150px;

  z-index: 1;
  transform: translate(-50%, -50%);
}

img.SunAndMoon{
  position: absolute;
  width: 300px;
  height: 300px;
  
  left: 50%;
  top: -2%;

  z-index: 1;
  transform: translate(-50%);

}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

